.main__header
  = render 'main_header'

%body.mypage
.container
  = render 'side-bar'

  .container__crcontent
    = render 'crcard_input'

  .main__exhibit-btn
    = render "review/main_exbit-btn"
= render 'footer'