.main__header
  = render './goods/main_header_after'

%body.mypage
.container
  = render './devise/shared/side-bar'

  .container__crcontent
    = render './devise/shared/crcard_input'

  .main__exhibit-btn
    = render "./goods/main_exbit-btn"
= render './goods/footer'