.main__header
  = render './goods/main_header_after'

- breadcrumb :crcard_add
-# config/breadcrumbs.rbに定義したmypageを呼び出し
.pan
  = render "./goods/pan_bar"

%body.mypage
.container
  = render './devise/shared/side-bar'

  .container__crcontent
    .container__crcontent__head
      %h2 支払い方法

    .container__crcontent__inner
      .container__crcontent__inner__text
        %h3 クレジットカード一覧

      .container__crcontent__inner__btn
        .container__crcontent__inner__btn__text
          .btn-default
            = fa_icon "credit-card", class: 'icon-card'
            =link_to "クレジットカードを追加する", crcard_add_input_path

      .container__crcontent__inner__right
        =link_to "支払い方法について", "#"

  .main__exhibit-btn
    = render "./goods//main_exbit-btn"
= render './goods/footer'