.wrapper
  .header
    = render 'devise/shared/top-header'

  .purchase-main
    .purchase-main__container
      .purchase-main__container__head
        %h2 購入内容の確認
      .purchase-main__container__content
        .purchase-main__container__content__image
          = image_tag "sample.jpg", size: "100x100", class: "logo"
        .purchase-main__container__content__text
          %ul
            %li Ruby on Rails 5
            %li ¥ 2500 （税込）送料込み
      .purchase-main__container__content
        %ul.price
          %li.purchase-main__container__content__price
            支払い金額
          %li.purchase-main__container__content__money
            ¥ 2500
          %li.purchase-main__container__content__point
            =check_box_tag :check1
            =label_tag :check1, "ポイントを使用（所持ポイント：P0）"
      .purchase-main__container__content
        %ul.purchase-main__container__content__info
          %li 支払い方法
          %li クレジットカード
          %li ********1234
          %li 有効期限 05/21
          = fa_icon 'cc-visa', class: 'cc-visa'
        =link_to "変更する", "#", class: 'change'
      .purchase-main__container__content
        %ul.purchase-main__container__content__info
          %li 配送先
          %li 〒555-5555
          %li 大阪府大阪市中央区
          %li 目流狩 太郎
        =link_to "変更する", "#", class: 'change'
      .purchase-main__container__content
        = form_tag(action: :pay, method: :post) do
          %script.payjp-button{:src => "https://checkout.pay.jp", :type => "text/javascript" ,"data-text" => "購入する" ,"data-key" => "pk_test_e579b1891a89f25b71a557c8"}
  .top-footer
    = render 'devise/shared/top-footer'
= form_tag(action: :pay, method: :post) do
  %button 購入する