.main
  -# ヘッダー
  .main__header
    - if user_signed_in?
      = render "main_header_after"
    - else
      = render 'main_header_before'

  -# メイン
  .main__image-slyde
    = image_tag "banner-6th-thanks.jpg"
  .main__contents
    .main__contents__center
      -# 3枚の画像のスライド
      -# 人気カテゴリー
      .main__contents__center__popular-category
        %h1
          人気のカテゴリー
        .main__contents__center__popular-category__tag
          %ul
            %li<
              %a レディース
            %li<
              %a メンズ
            %li<
              %a 家電・スマホ・カメラ
            %li<
              %a おもちゃ・ホビー・グッズ
      -# (1.レディース,2.メンズ,3.家電・スマホ・カメラ,4.おもちゃ・ホビー・グッズ)新着アイテム
      .main__contents__center__item
        .main__contents__center__item__ladies
          .main__contents__center__item__ladies__title
            %h1
              レディース新着アイテム
            %a
              もっと見る
          .main__contents__center__item__ladies__image
            %ul.main__contents__center__item__ladies__image__ul
              - @cat_no1.each do |good|
                %li.main__contents__center__item__ladies__image__ul__li
                  .main__contents__center__item__ladies__image__ul__li__top-image
                    = link_to good_path(good.id) do
                      -# = image_tag "#{good.image}"
                      %area-label
                        = "¥#{good.fee}"
                  .main__contents__center__item__ladies__image__ul__li__under-text
                    %span
                      = good.name
        .main__contents__center__item__mens
          .main__contents__center__item__mens__title
            %h1
              メンズ新着アイテム
            %a
              もっと見る
          .main__contents__center__item__mens__image
            %ul.main__contents__center__item__mens__image__ul
              - @cat_no2.each do |good|
                %li.main__contents__center__item__mens__image__ul__li
                  .main__contents__center__item__mens__image__ul__li__top-image
                    = link_to good_path(good.id) do
                      -# = image_tag "#{photo.image.url}"
                      %area-label
                        = "¥#{good.fee}"
                  .main__contents__center__item__mens__image__ul__li__under-text
                    %span
                      = good.name
        .main__contents__center__item__electricity
          .main__contents__center__item__electricity__title
            %h1
              家電・スマホ・カメラ新着アイテム
            %a
              もっと見る
          .main__contents__center__item__electricity__image
            %ul.main__contents__center__item__electricity__image__ul
              - @electricity_photo.zip(@electricity_goods) do |photo, good|
                %li.main__contents__center__item__electricity__image__ul__li
                  .main__contents__center__item__electricity__image__ul__li__top-image
                    = link_to good_path(good.id) do
                      = image_tag "#{photo.image.url}"
                      %area-label
                        = "¥#{good.fee}"
                  .main__contents__center__item__electricity__image__ul__li__under-text
                    %span
                      = good.name
        .main__contents__center__item__toy
          .main__contents__center__item__toy__title
            %h1
              おもちゃ・ホビー・グッズ新着アイテム
            %a
              もっと見る
          .main__contents__center__item__toy__image
            %ul.main__contents__center__item__toy__image__ul
              - @hobby_photo.zip(@hobby_goods) do |photo, good|
                %li.main__contents__center__item__toy__image__ul__li
                  .main__contents__center__item__toy__image__ul__li__top-image
                    = link_to good_path(good.id) do
                      = image_tag "#{photo.image.url}"
                      %area-label
                        = "¥#{good.fee}"
                  .main__contents__center__item__toy__image__ul__li__under-text
                    %span
                      = good.name
      -# 人気のブランド
      .main__contents__center__popular-brand
        %h1
          人気のブランド
        .main__contents__center__popular-brand__tag
          %ul
            %li<
              %a シャネル
            %li<
              %a ルイヴィトン
            %li<
              %a シュプリーム
            %li<
              %a ナイキ
      -# (1.シャネル,2.ルイヴィトン,3.シュプリーム,4.ナイキ)新着アイテム
      .main__contents__center__brand
        .main__contents__center__brand__chanel
          .main__contents__center__brand__chanel__title
            %h1
              シャネル新着アイテム
            %a
              もっと見る
          .main__contents__center__brand__chanel__image
            %ul.main__contents__center__brand__chanel__image__ul
              - @chanel.zip(@photo_chanel_id) do |good, photo|
                %li.main__contents__center__brand__chanel__image__ul__li
                  .main__contents__center__brand__chanel__image__ul__li__top-image
                    = link_to good_path(good.id) do
                      = image_tag "#{photo.image.url}"
                      %area-label
                        = "¥#{good.fee}"
                  .main__contents__center__brand__chanel__image__ul__li__under-text
                    %span
                      = good.name
        .main__contents__center__brand__vuitton
          .main__contents__center__brand__vuitton__title
            %h1
              ルイヴィトン新着アイテム
            %a
              もっと見る
          .main__contents__center__brand__vuitton__image
            %ul.main__contents__center__brand__vuitton__image__ul
              - @vuitton.zip(@photo_vuitton_id) do |good, photo|
                %li.main__contents__center__brand__vuitton__image__ul__li
                  .main__contents__center__brand__vuitton__image__ul__li__top-image
                    = link_to good_path(good.id) do
                      = image_tag "#{photo.image.url}"
                      %area-label
                        = "¥#{good.fee}"
                  .main__contents__center__brand__vuitton__image__ul__li__under-text
                    %span
                      = good.name
        .main__contents__center__brand__supreme
          .main__contents__center__brand__supreme__title
            %h1
              シュプリーム新着アイテム
            %a
              もっと見る
          .main__contents__center__brand__supreme__image
            %ul.main__contents__center__brand__supreme__image__ul
              - @supreme.zip(@photo_supreme_id) do |good, photo|
                %li.main__contents__center__brand__supreme__image__ul__li
                  .main__contents__center__brand__supreme__image__ul__li__top-image
                    = link_to good_path(good.id) do
                      = image_tag "#{photo.image.url}"
                      %area-label
                        = "¥#{good.fee}"
                  .main__contents__center__brand__supreme__image__ul__li__under-text
                    %span
                      = good.name
        .main__contents__center__brand__nike
          .main__contents__center__brand__nike__title
            %h1
              ナイキ新着アイテム
            %a
              もっと見る
          .main__contents__center__brand__nike__image
            %ul.main__contents__center__brand__nike__image__ul
              - @nike.zip(@photo_nike_id) do |good, photo|
                %li.main__contents__center__brand__nike__image__ul__li
                  .main__contents__center__brand__nike__image__ul__li__top-image
                    = link_to good_path(good.id) do
                      = image_tag "#{photo.image.url}"
                      %area-label
                        = "¥#{good.fee}"
                    .main__contents__center__brand__nike__image__ul__li__under-text
                      %span
                        = good.name

  -# 出品ボタン
  .main__exhibit-btn
    = render "main_exbit-btn"
    
-# フッター
= render "footer"